<div class="container" >
<div class="card text">
<div class="card-header">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= visitantes_path %>">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= unidades_path %>">Unidades</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" >Setores</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= profissionals_path %>">Profissionais</a>
  </li>
</ul>


<p style="color: green"><%= notice %></p>
<div class= "card">
<div class="card-header">

<style>
  .bg-custom-blue {
    background-color: #3f98d0; 
    color: #ffffff; 
  }
</style>

<div class="card">
  <div class="card-header bg-custom-blue">
     <h1>Setores</h1>
</div>
  <div class= "card-body">
  <table class="table">
<thead>
      <tr>
        <th>Nome</th>
        <th>Unidade</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @setors.each do |setor| %>
      <tr>
        <td><%= setor.nome %></td></td>
        <td><%=setor.unidade.nome %> </td>
        <td><%= link_to "Ver",  setor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between">
<div class="d-flex gap-2"> 
      <%= link_to "Novo Setor", new_setor_path, class:"btn btn-success"%>
  </div>  
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Voltar", visitantes_path, class:"btn btn-outline-primary" %>
</div>
</div>
