<div id="<%= dom_id profissional %>">
  <p>
    <strong>Nome:</strong>
     <p class="text-primary"><%= profissional.nome %></p>

  </p>

  <p>
    <strong>Setor:</strong>
      <p class="text-primary"><%= profissional.setor.nome %></p>
  </p>
  <p>
   <strong>Unidade:</strong>
    <p class="text-primary"><%= profissional.unidade.nome %></p>
  </p>
  <p>
    <strong>CPF:</strong>
     <p class="text-primary"><%= profissional.cpf %></p>
  </p>
  <p>
    <strong>RG:</strong>
      <p class="text-primary"><%= profissional.rg %></p>
    </p>
  <p>
    <strong>Telefone:</strong>
      <p class="text-primary"><%= profissional.telefone %></p>
  </p>

  <p>
    <strong>Cargo:</strong>
      <p class="text-primary"><%= profissional.cargo %></p>

  </p>
</div>
