
<div id="<%= dom_id @profissional %>">

<table class="table">
  
  <thead>
    <tr>
      <th scope="row">Nome</th>
      <td><%= @profissional.nome %></td>
   
    </tr>
    <tr>
    <th scope="row">Setor</th>
    <td><%= @profissional.setor.nome %></td>
    </tr>
     <tr>
    <th scope="row">Unidade</th>
    <td><%= @profissional.unidade.nome %></td>
    </tr>
    <tr>
    <th scope="row">CPF</th>
    <td><%= @profissional.cpf %></td>
    </tr>
    <tr>
    <th scope="row">RG</th>
    <td><%= @profissional.rg %></td>
    </tr>
     <tr>
    <th scope="row">Contato</th>
    <td><%= @profissional.telefone %></td>
    </tr>
     <tr>
    <th scope="row">Setor</th>
    <td><%= @profissional.cargo %></td>
    </tr>
       <th scope="row">Email</th>
    <td><%= @profissional.user.email %></td>
    </tr>
   
   
   

  </thead>
</table>
