<p style="color: green"><%= notice %></p>



<div class= "card">
<div class="card-header">
<h1>Profissionais</h1>
</div>
  
  <div class= "card-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Setor</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @profissionals.each do |profissional| %>
      <tr>
        <td><%= profissional.nome %></td></td>
        <td><%=profissional.setor.nome %> </td>
        <td><%= link_to "Editar",  profissional %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-between">
<div class="d-flex gap-2"> 
      <%= link_to "Novo Profissional", new_profissional_path, class:"btn btn-success"%>
  </div>  
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to "Voltar", visitantes_path, class:"btn btn-outline-primary" %>
</div>
</div>
</div>
</div>
</div>