<div id="<%= dom_id @visitante %>">

<table class="table">
  <thead>
    <tr>
    <th scope="col"style=" text-alight-center"><h4>Dados do visitante</h4></th>
      <th scope="col">#</th>
     
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nome</th>
      <td><%= @visitante.nome %></td>
   
    </tr>
    <tr>
      <th scope="row">CPF</th>
  <td><%= @visitante.cpf %></td>
    </tr>
    <tr>
      <th scope="row">RG</th>
       <td><%= @visitante.rg %></td>
    </tr>
    <tr>
    <th scope="row">Telefone</th>
     <td><%= @visitante.tel %></td>
  </tr>
  <tr>
  <th scope="row">Data</th>
   <td><%= @visitante.data %></td>
</tr>
<tr>
  <th scope="row">Hora</th>
   <td><%= @visitante.hora %></td>
</tr>
<tr>


  </tbody>
</table>
